.navbar-default {
  color: #FFFFFF;
  background-color: #091B2A;
  border-color: #091B2A;
  border-bottom: 1px solid #0D253A;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-weight: normal;
}

.navbar-default .navbar-brand:hover {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a {
  color: #FFFFFF;
  background-color: #0D253A;
  font-weight: normal;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #FFFFFF;
  background-color: #0D253A;
  font-weight: normal;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  border-color: #0D253A;
  font-weight: normal;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FFFFFF;
  border-color: #0D253A;
  font-weight: normal;
}

.navbar-inner, .nav>.active>a, .dropdown-menu {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

.navbar-profile {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}